<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877844562077-jr1flb3ngeqrpmp50qp30vmjdrprhhri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877844562077-jr1flb3ngeqrpmp50qp30vmjdrprhhri</string>
	<key>API_KEY</key>
	<string>AIzaSyADQYrPPI_CWXd5eu87S9_Pi7MS9FazRxw</string>
	<key>GCM_SENDER_ID</key>
	<string>877844562077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mariam.EventQr.com.EventQr</string>
	<key>PROJECT_ID</key>
	<string>eventqr-3a847</string>
	<key>STORAGE_BUCKET</key>
	<string>eventqr-3a847.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877844562077:ios:64d58aabc1d609df84d474</string>
</dict>
</plist>